---
Checks: >
    -*,
    bugprone-*,
    -bugprone-exception-escape,
    cert-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-do-while,
    hicpp-*,
    misc-*,
    -misc-use-internal-linkage,
    modernize-*,
    performance-*,
    readability-*,
    -readability-convert-member-functions-to-static,
    -readability-identifier-length,
    -readability-redundant-access-specifiers
HeaderFilterRegex: '.'
FormatStyle:     none
User:            Linux
CheckOptions:
    cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: 'true'
    hicpp-special-member-functions.AllowSoleDefaultDtor: 'true'
