---
Checks: >
    -*,
    bugprone-*,
    -bugprone-exception-escape,
    cert-*,
    cppcoreguidelines-*,
    hicpp-*,
    misc-*,
    -misc-use-internal-linkage,
    modernize-*,
    performance-*,
    readability-*,
    -readability-convert-member-functions-to-static,
    -readability-identifier-length
HeaderFilterRegex: '.'
FormatStyle:     none
User:            Linux
