module cpplox:Expr;

import std;

import :Token;

namespace cpplox {

namespace expr {
{%- for elem in data.grammar %}
export struct {{ elem.type }}; 
{%- endfor %}
} // namespace expr

export using Expr = std::variant<
    expr::{{ data.grammar|map(attribute='type')|join(',\n    expr::') }}
>;

export using ExprPtr = std::unique_ptr<Expr>;

namespace expr {
{%- for elem in data.grammar %}
export struct {{ elem.type }} {
  {%- for param in elem.params %}
    {%- if param.type is defined %}
      {{ param.type }} {{ param.name }};
    {%- else %}
      ExprPtr {{ param.name }};
    {%- endif %}
  {%- endfor %}
};
{%- endfor %}
} // namespace expr

template <class ExprT, class... Args>
auto make_unique_expr(Args &&... args) -> ExprPtr
{
    return std::make_unique<Expr>(std::in_place_type<ExprT>, std::forward<Args>(args)...);
}

} // namespace cpplox
