export module cpplox:Grammar;

import std;

import :FunctionParameter;
import :SourceLocation;
import :Token;

namespace cpplox {

// *** Forward Declarations ***

namespace expr {
{%- for elem in data.grammar.expressions %}
export struct {{ elem.type }};
{%- endfor %}
} // namespace expr

namespace stmt {
{%- for elem in data.grammar.statements %}
export struct {{ elem.type }};
{%- endfor %}
} // namespace stmt

export struct Expr;
export struct Stmt;

export using ExprPtr = std::unique_ptr<Expr>;
export using StmtPtr = std::unique_ptr<Stmt>;

// *** Struct Definitions

namespace expr {
{%- for elem in data.grammar.expressions %}
export struct {{ elem.type }} {
  {%- for param in elem.params %}
    {%- if param.type is defined %}
      {{ param.type }} {{ param.name }};
    {%- else %}
      ExprPtr {{ param.name }};
    {%- endif %}
  {%- endfor %}
};
{%- endfor %}
} // namespace expr

export using ExprType = std::variant<
    expr::{{ data.grammar.expressions|map(attribute='type')|join(',\n    expr::') }}
>;

export struct Expr {
    ExprType expr;
    SourceLocation sloc;

    template <class ExprT, class... Args>
    explicit Expr(SourceLocation sloc_, std::in_place_type_t<ExprT> /* ty */, Args &&... args)
        : expr(std::in_place_type<ExprT>, std::forward<Args>(args)...)
        , sloc(sloc_)
    {}
};

namespace stmt {
{%- for elem in data.grammar.statements %}
export struct {{ elem.type }} {
  {%- for param in elem.params %}
    {%- if param.type is defined %}
      {{ param.type }} {{ param.name }};
    {%- else %}
      StmtPtr {{ param.name }};
    {%- endif %}
  {%- endfor %}
};
{%- endfor %}
} // namespace stmt

export using StmtType = std::variant<
    stmt::{{ data.grammar.statements|map(attribute='type')|join(',\n    stmt::') }}
>;

export struct Stmt {
    StmtType stmt;
    SourceLocation sloc;

    template <class StmtT, class... Args>
    explicit Stmt(SourceLocation sloc_, std::in_place_type_t<StmtT> /* ty */, Args &&... args)
        : stmt(std::in_place_type<StmtT>, std::forward<Args>(args)...)
        , sloc(sloc_)
    {}
};

} // namespace cpplox
